<section class="container">
  <input type="text" class="form-control rounded-0" [formControl]="search" placeholder="Search">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Order Date</th>
        <th scope="col">Order Detail</th>
        <th scope="col">Order Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders$ | async | filter: searchTerm">
        <th>{{order.customer.customerName}}</th>
        <td>{{order.orderDate | date }}</td>
        <td>{{order.orderDetail}}</td>
        <td>{{order.orderAmount}}</td>
      </tr>

    </tbody>
  </table>
</section>
